body {
  background-color: white;
  font-family: sans-serif;
}

.glow {
  font-size: 80px;
  color: red;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  animation: 1.5s ease 0s infinite pulse;
}

.box {
  height: 90%;
  max-height: 400px;
}



.zebra {
    background-image: url("../imgs/zebra1.svg");
    background-color: #cccccc;
    background-size: cover;

}

.white {
    background-color: white;
    width: 70%;
    margin: 0 auto;
    padding: 20px;
}


.grid-item {
    height: 60%;
    width: 100%;
    color: black;
    text-align: center;
    display: flex;
    align-items: center;
    font-family: sans-serif;
 /*this isn't linked correctly, please review our notes on linking custom typefaces*/
}

img {
   height: 100%;
    width: 100%;
    display: flex;
}


.hellokitty {
    background-image: url("../imgs/hellokitty.svg");
    background-color: #cccccc;
    background-size: cover;

}

.white {
    background-color: white;
    width: 70%;
    margin: 0 auto;
    padding: 20px;
}

.butterfly {
    background-image: url("../imgs/butterfly.svg");
    background-color: #cccccc;
    background-size: cover;

}

.white {
    background-color: white;
    width: 70%;
    margin: 0 auto;
    padding: 20px;
}

.fire {
    background-image: url("../imgs/fire.svg");
    background-color: #cccccc;
    background-size: cover;

}

.white {
    background-color: white;
    width: 70%;
    margin: 0 auto;
    padding: 20px;
}

.cheetah{
    background-image: url("../imgs/cheetah.svg");
    background-color: #cccccc;
    background-size: cover;

}

.white {
    background-color: white;
    width: 70%;
    margin: 0 auto;
    padding: 20px;
}

.castle {
    background-image: url("../imgs/castle.gif");
    background-color: #cccccc;
    background-size: cover;

}

.white {
    background-color: white;
    width: 70%;
    margin: 0 auto;
    padding: 20px;
}


.bandana {
    background-image: url("../imgs/bandana.svg");
    background-color: #cccccc;
    background-size: cover;

}

.white {
    background-color: white;
    width: 70%;
    margin: 0 auto;
    padding: 20px;
}



.checkerboard {
    background-image: url("../imgs/checkerboard.svg");
    background-color: #cccccc;
    background-size: cover;

}

.white {
    background-color: white;
    width: 70%;
    margin: 0 auto;
    padding: 20px;
}












