body {
background: linear-gradient(-45deg, #FFC0CB, #FFF2CC, #D9D2E9, #D9EAD3);
background-size: 400% 400%;
animation: gradient 15s ease infinite;
}

@keyframes gradient {
0% {
background-position: 0% 50%;
}
50% {
background-position: 100% 50%;
}
100% {
background-position: 0% 50%;
}
}

#color1 {
color: #FFCBCC}

#peeman {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 8px;
  width: 350px;
  height: 350px;
}

.bodycopy {
  width: 70%;
  padding: 10px 0px;
  margin: auto;
}


* {
  box-sizing: border-box;
}

.row {
  display: flex;
}

.col {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
} 

@font-face {
  font-family: "GrotesqueMT-Light";

  src: url("net-anthology-layouts/fonts/grotesque.woff") format("woff"), /* Modern Browsers */
    url("./fonts/grotesque.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}


.title {
  font-size: 20px;
  line-height: 1.2;
  font-family: "GrotesqueMT-Light";
}


.grid {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-gap: 15px;
}


@media (min-width: 500px) {
  body {
    background-color: pink;
  }
}


@media print { 
  /* All your print styles go here */
  .header, 
  .footer, 
  .nav { 
    display: none !important; 
  }
}