body {background-color: black;}

video {
	display: block;
margin: 0 auto;
}

div {
	text-align: center;
	font-family: sans-serif;
	font-size: 60px;
	color: #e35000
  

}	

p {
	font-size:20px;
	font-family:sans-serif;
	color:white;
	text-align: center
}

.link {
	font-size: 15px
}